nav li{
  list-style: none;
}

nav .link{
  display: inline-block;
}

.artify-img:hover{
  object-fit:  contain;

}

.img-btns{
  margin-top: -60px;
}

.img-btns:hover{
    display: block;
}

.icon{

}